@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --ton-green: rgb(132, 192, 59);
    --ton-green-dark: rgb(107, 150, 58);
    --ton-green-dark-b: rgb(53, 77, 26);
    --ton-green-darker: rgb(26, 41, 10);
    --link-gray: rgb(206, 206, 206);
    --header-gray: rgb(236, 236, 236);
    --bg-gray: rgb(43, 42, 42);
    --bg-gray-light: rgb(71, 70, 70);
    color-scheme: only light;
  }

* {
    scroll-behavior: smooth;
}

body {
    color: rgb(237, 232, 217);
    background-color: rgb(17, 17, 17);
    gap: 0;
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--link-gray);
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    cursor: pointer;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--header-gray);
    line-height: 0.862;
    margin: 0;
    text-wrap: balance;
    user-select: none;
}




.family {
    font-weight: 500;
    font-size: 1.25
}

p {
    color: var(--header-gray);
    font-size: 1rem;
    margin: 0;
    max-width: fit-content;
}

.title {
    color: rgb(255, 225, 134);
    font-weight: 500;
}

t {
    color: rgb(255, 225, 134);
    font-weight: 500;
}

.info    {
    background-color: rgb(54, 55, 54);
    padding: 0.75rem 1.25rem 0.75rem 0.75rem;
    border-radius: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    max-width: fit-content;
    font-size: 1rem;

}


.attr-info, .desc-info {
    padding-left: 0.75rem;
    max-width: fit-content;
    line-height: 2;
    margin-top: 0.5rem;
    text-wrap: pretty;


}

.desc-info {
    line-height: 1.5;
    padding-left: 0;
    text-indent: 0.5rem;
}

#map-section {
}

#map{
    width: 100%;
    height: 77vh;
}



section {
    display: none;
}

#home {
    display: block;
}

#quiz {
    padding: 0 1rem 24rem 1rem;
    place-content: center;
    height: 100%;
}



#leafSummary::after, #attr-summary::after, .map-card #leafSummary::after, .map-card #attr-summary::after{
    content: '+';
    margin-left: 1rem;
    margin-right: 0;
    padding: 0;
    font-size: 1rem;
    color:#e4e4e4;
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgb(106, 106, 106) ;
    border-top: 2px solid var(--bg-gray-light);
    border-left: 1px solid var(--bg-gray-light);

}

#attr-summary::after {
    line-height: 1.5;
}

[open] > #leafSummary::after, [open] > #attr-summary::after {
    content: '-';
}

.card-header {
    color: rgb(255, 225, 134);
    font-size: 1.55rem;
    font-weight: 500;
    padding: 0 1rem 0 1rem;
}

.species-name, .map-card .species-name {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 400;
    padding-left: 1rem;
    padding-right: 1rem;
}

.italic {
    font-style: italic;
}

.normal {
    font-style: normal;
}

.cards-grid {
    display: grid;
    gap: 1rem;
    max-width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(min(400px, 100%), 1fr));
    margin-bottom: 2rem;
    align-items: start;
}

.card, .map-card {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-gray);
    box-shadow: 0.111rem 0.111rem 0.5rem rgba(65, 65, 65, 0.15), 
                0.111rem 0.111rem 0.5rem rgba(101, 101, 101, 0.5);
    border-radius: 0.75rem;
    padding: 0.5rem 0 0.5rem 0;
    height: auto;
}



.thumbnail-container::-webkit-scrollbar,
.info-wrapper::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
    display: none;
}

.thumbnail-container::-webkit-scrollbar,
.info-wrapper::-webkit-scrollbar-thumb {
    background-color: rgb(255, 225, 134);
    border-radius: 1rem;
    border: 2px solid rgb(17, 17, 17);
}

.thumbnail-container::-webkit-scrollbar,
.info-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: rgb(255, 225, 134);
}


.thumbnail-container::-webkit-scrollbar,
.info-wrapper::-webkit-scrollbar-corner {
    background-color: rgb(58, 57, 57);
}

summary{
    display: flex;
    align-items: center;
    list-style: none;
    cursor: pointer;
    border: #006c93;
}

summary::after {
    text-align: center;
    background-color: rgb(60, 60, 60);
    border-radius: 50%;
    content: '+';
    margin-left: auto;
    width: 2.25rem;
    margin-right: 1rem;
    font-size: 1rem;
    color:#e4e4e4
}

[open] > summary::after {
    content: '-';
}

#speciesName::after {
    border-top: 2px solid var(--bg-gray-light);
    border-left: 1px solid var(--bg-gray-light);
    font-size: 1.5rem;
}

.info-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
}

.nhcp-tree {
    max-height: 1.75rem;
    margin-left: 0.75rem;
    margin-right: 0.25rem;
    margin-top: 0.25rem;
    filter: invert(50%) sepia(100%) saturate(250%) hue-rotate(45deg);
    align-self: center; 
}

.card, #filters-btn {
    color: var(--link-gray);
    border-top: 2px solid var(--bg-gray-light);
    border-left: 1px solid var(--bg-gray-light);
}



#filters {
    display: none ;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  
  .filter-group {
    display: flex;
    flex-direction: column;
    max-width: 10rem;
  }
  
  label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: rgb(202, 200, 194);
    font-weight: 500;
  }

  button {
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    font-size: 1rem;
    color: rgb(208, 208, 208);
    background-color: rgba(95, 95, 95, 0);
    border-radius: 0.5rem;
    border-width: 0.11rem;
    border-color: rgb(37, 37, 37);
    user-select: none;
  }
  
  select {
    padding: 0.5rem;
    font-size: 1rem;
    background-color: var(--bg-gray);
    color: rgb(208, 208, 208);
    border-radius: 0.5rem;
    font-family: "Work Sans", sans-serif;
    border: none;
  }


.menu-wrapper {
    display: flex;
    margin: 1rem 0 1rem 0;
}


header {
    min-height: 3rem;
    display: flex;
    max-width: 100%;
    align-items: center;
    border-bottom: 1px solid var(--ton-green-darker);

    > .material-symbols-outlined {
        margin-left:auto;
        margin-right: 0.5rem;
    }
    /*border-bottom: 1px solid var(--ton-green);*/
}

.header-text {
    margin-left: 0.75rem;
    font-family: "Cardo", serif;
    font-size: 1.75rem;
    font-weight: 500;
    color: var(--ton-green-dark);
    text-decoration: none;
    line-height: 1;
    text-wrap: balance;
    user-select: none;
    > h {
        font-size: 1.25rem;
    }
    
}



footer {
    user-select: none;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    background-color: var(--ton-green-darker);
    min-height: 100%;
    padding: 1rem;
    gap: 1rem;
    align-items: center;

}

footer .header-text, footer nav {
    margin-right: auto;
    margin-left: auto;
    color: var(--link-gray);

}



nav {
    margin-left: auto;
    margin-top: auto;
    user-select: none;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li{
    display: inline-block;
    position: relative;
    cursor: pointer;

  }
  
  nav a, .dropbtn {
    text-decoration: none;
    color: var(--ton-green-dark);
    transition: color 0.3s;
    font-size: 1.111rem;
    font-weight: 600;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.5rem;
  }
  
  
  nav a:hover, .dropbtn:hover{
    text-decoration: none;
    background-color: var(--my-light-gray);
  }

  footer nav a{
    color: var(--link-gray);
    font-weight: 400;
    font-size: 1rem;
    padding: 0;
}

  #dropdown-toggle {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }
  
  #dropdown-toggle:checked + .dropbtn + .dropdown-content {
    display: block;
  }

  .location-details a {
    margin: 0.5rem;
    display: flex;
    padding: 0;
    cursor: pointer;
    user-select: none;;
  }

  .location-details .material-symbols-outlined{
    padding-top: 0.25rem;
    margin: 0;
    margin-right: 0.25rem;
  }

  
  .dropdown-content {
    position: absolute;
    right: 0;
    background-color: rgb(17, 17, 17);
    border-bottom-left-radius: 0.5rem;
    width: max-content;
    min-width: 7rem;
    display: none;
    z-index: 1000;;
}
  
  .dropdown-content a {
    padding: 0.5rem 2rem 0.5rem 1rem;
    text-decoration: none;
    display: block;
    font-size: 1rem;
    font-weight: 500;
    color: var(--link-gray);
  }
  
  .dropdown-content a:hover {
    background-color: var(--my-light-gray);
  }

  .dropdown-content:focus-within {
    display: none;
}

.gmaps-icon {
    height: 1.25rem;
    align-self: center;
    margin-right: 0.5rem;
}
.thumbnail-container {
    height: 140px;
    display: flex;
    gap: 0.75rem;
    overflow-x: auto;
    margin: 1rem;   
    justify-content: flex-start; /* Ensures the scroll starts from the left */
    scroll-snap-type: x mandatory; /* Helps keep images aligned when scrolling */
    white-space: nowrap; 
    align-items: center;
    border-radius: 0.5rem;
    background-color: rgb(54, 55, 54);
    padding: 0.25rem;
  }
  
  .thumbnail {
    width: 120px;
    height: 120px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
    transform-origin: center top; 
    transition: transform 0.295295295s ease-in-out;
  }

  .sheet .thumbnail-container {

    height: 320px;
  }

  .sheet .thumbnail {
    height: 300px;
    width: 300px;
  }
  
  .thumbnail:hover {
    transform: scale(1.111);
  }

  .sheet .thumbnail {
    transform: none;
  }

  .placeholder:hover {
    transform:none;
    cursor: default;
  }
  
  .image-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content {
    position: relative;
    color: var(--header-gray);
    padding: 10px;
    border-radius: 8px;
    text-align: center;
  }
  
  .modal-content img {
    max-width: 90vw;
    max-height: 80vh;
    border-radius: 5px;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }

.quiz-container, .card {
  box-shadow: 0.111rem 0.111rem 0.5rem rgba(65, 65, 65, 0.15), 
  0.111rem 0.111rem 0.5rem rgba(101, 101, 101, 0.5);
}
  
  .quiz-container {
    margin: 1rem;
    background-image: url("images/pinus-nigra-bark.jpg");
    background-position: left center;
    padding: 2rem 0.5rem 3rem 0.5rem;
    text-align: center;
    align-content: start;
    width: 800px;
    min-height: 600px;
    border-radius: 0.5rem;
    height: fit-content;
}

.question {
    margin-bottom: 1.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: auto;
    border-radius: 0.5rem;
    place-content: center;
    max-width: 600px;
    width: fit-content;
}

.question, .options, .timer {
    background-color: rgba(35, 35, 35, 0.515);
    user-select: none;
}

.question-text {
    color: rgb(255, 255, 240);
    font-size: 1.25rem;
    text-align: left;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.options button {
    display: block;
    min-width: 150px;
    width: fit-content;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 1rem 1rem 1rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    text-align: left;
    color: rgb(255, 255, 240);

}

.options {
    align-items: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    display: none;
    flex-direction: column;
    min-width: 240px;
    max-width: fit-content;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    border-radius: 0.75rem;
}
.timer {
    color: rgb(255, 225, 134);
    margin-bottom: 1rem;
    width: fit-content;
    min-width: 3rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.75rem;
    border-radius: 0.5rem;
    padding: 1rem;
    display: none;
}



.resources-wrapper, .about-wrapper, .contact-wrapper {
    border-top: 2px solid var(--ton-green-dark-b);
    border-left: 1px solid var(--ton-green-dark-b);
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background-color: var(--ton-green-darker);
    padding: 1rem 2rem 1rem 1rem;
    border-radius:0.5rem;
    max-width: 500px;
    width: fit-content;

    > p {
        > a {
            font-weight: 550;
            color: var(--link-gray);
        }
    }
}



.options button, .new-question{
    background-color: #281b147e;
    color: var(--header-gray);
}

.options button:hover {
    background: #8922aba7;
}
.correct {
    background: #26902ab2 !important;
    color: var(--header-gray);
}
.incorrect {
    background: #c10c0cab !important;
    color: var(--header-gray);
}
.new-question {
    margin-top: 2rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: var(--header-gray);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.new-question:hover {
    background: #1b2ba1a2;
}



.cards-grid, #filters {
    padding: 0 0.75rem 0 0.75rem;
}

.menu-wrapper {
    padding: 0 0.5rem 0 0.5rem;
}


.overlay {
    border-image: linear-gradient(hsla(267, 100%, 22%, 0.505), hsla(96, 89%, 22%, 0.416)) fill 1;
}

.overlay-a {
    border-image: linear-gradient(hsla(273, 43%, 17%, 0.629), hsla(96, 38%, 10%, 0.777)) fill 1;
}

.overlay-b{
    border-image: linear-gradient(hsla(282, 100%, 19%, 0.574), hsla(96, 97%, 12%, 0.437)) fill 1;
}

.specimen-banner {
    background-image: url("images/dpt-1.jpg");
    min-height: 8rem;
    max-height: 12rem;
    background-size: cover;
    background-position: top center;
    margin: 0;
    padding: 0;
    justify-content: end;
    text-align: right;
    display: flex;
    > h1 {
        cursor: pointer;
        margin-top: auto;
        font-size: 1.25rem;
        font-weight: 600;
        max-width: 200px;
        line-height: 1.25;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }
}



.giant-seq {
    background-image: url("images/giant-seq-1.jpg");
    background-size: cover;
    background-position: 25%;
    min-height: 400px;
    margin: 0;
    padding-bottom: 1rem;
    place-content: center space-between;
    > h1 {
        cursor: pointer;
        max-width: 400px;
        padding: 0.5rem 4rem 0.5rem 1rem;
    }
}

.pinus-bark {
    background-image: url("images/pinus-nigra-bark.jpg");
    background-size: cover;
    background-position: center center;
    min-height: 7rem;
    margin: 0;
    padding: 0;
}

.quiz-image{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    height: 260px;
    width: 240px;
    object-fit: cover;
    border-radius: 05%;
    border-width: 1px
    
}

.gmaps-open-in {
    align-content: center;
}

#filters-btn {
    background-color: var(--bg-gray);
}

.about-header {
    background-image: url("images/seq-2.jpg");
    min-height: 8rem;
    max-height: 12rem;
    background-size: cover;
    background-position: top top;
    margin: 0;
    padding: 1rem;
    place-content: end;

}

.about-header h1, .resources-header h1 {
    font-weight: 600;
    max-width: 260px;
    font-size: 3rem;
}

.resources-header {
    background-image: url("images/stump.jpg");
    min-height: 8rem;
    max-height: 12rem;
    background-size: cover;
    background-position: left bottom;
    margin: 0;
    padding: 1rem;
    place-content: end;

}

.leaflet-popup{
    min-width: 340px;
    padding: 0;
}

.map-card {
    min-width: fit-content;
}

.leaflet-popup-content-wrapper, .leaflet-popup-content-wrapper a {
    color: rgb(255, 225, 134);
    background-color: var(--bg-gray);
    padding: 0;
}

.leaflet-popup-content {
    font-family: "Work Sans", sans-serif;
    margin: 0;
    user-select: none;
    width: 100%;
    > div {
        font-family: "Work Sans", sans-serif;
    }
}


.leaflet-popup-tip {
    background-color: var(--bg-gray);
}

#sheet-section {
    padding: 1rem;
}

.sheet {
    margin: auto;
    min-width: 300px;   
    max-width: 800px;
}