* {
    font-family: Arial, Helvetica, sans-serif;
    text-wrap: pretty;
  }

  p {
    max-width: 40rem;
    line-height: 1.6;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .inputs {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: left;
  }

  textarea {
    resize: both;
    max-width: 30rem;
    width: 24rem;
    font-size: 1rem;
    font-family: "Courier", monospace;
    font-weight: 600;
    padding: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;  
  }

  button {
    max-width: 15ch;
  }

  details {
  }

  summary {
    font-size: 1.25rem;
    justify-content: center; /* Centers horizontally */
    cursor: pointer;
    text-align: center;
  }

  summary::marker {
  }